/* Uso de la propiedad max-width */
#contenido1 {
  background: blue;
  width: 300px;
}

#contenido2 {
  background: yellow;
  width: 100%;
  max-width: 150px;
}

/* Uso de la propiedad border */
table {
  border-width: 2px;
  border-style: solid;
  border-color: red;
}

tr, td {
  padding: 5px;
  border-width: 2px;
  border-style: dotted;
  border-color: blue;
}
